html {
  scroll-behavior: smooth;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Bebas Neue", cursive, "Times New Roman", Times, serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: transparent;
}
.nav-list {
  list-style-type: none;
  display: flex;
}
.nav-list li {
  margin: 20px;
}
.nav-list li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: 0.2s;
  border-radius: 6px;
  font-size: 1.5rem;
  background-color: BLACK;
}
.nav-list li a:hover {
  background-color: white;
  color: black;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.grid-item-1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  color: black;
  font-family: "My Soul", cursive, sans;
}
.grid-item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-one {
  position: relative;
  background: linear-gradient(to bottom, #33cc33 0%, #ffffff 100%);
  min-height: 100vh;
}
header {
  background-color: #33cc33;
}

.profile-picture {
  position: absolute;
}
.profile-picture img {
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spin;
  width: 300px;
  height: 300px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-picture img {
  border: 10px solid white;
  border-radius: 150px;
}
.center {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.center-me {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.contact {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact li {
  display: inline-block;
  padding: 10px 20px;
}
.contact li img {
  width: 30px;
  height: 30px;
  transition: all 1s;
}
.contact li img:hover {
  transition: all 0.1s;
  box-shadow: 0 0 10px 10px white;
  background-color: white;
  transform: scale(1.1);
}
.section-two {
  position: relative;
  background: linear-gradient(to bottom, #ffffff 0%, #33cc33 100%);
  overflow: hidden;
  min-height: 100vh;
}
.section-two h2 {
  text-align: center;
  font-size: 3rem;
}
.portfolio a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.portfolio a {
  text-decoration: none;
}
.portfolio h3 {
  text-align: center;
  vertical-align: middle;
  line-height: 33vh;
  font-size: 3rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}
.portfolio span {
  background-color: rgba(0, 0, 0, 0.437);
  border: 3px solid white;
}
.portfolio-one {
  margin: 40px;
  height: 33vh;
  border: 5px solid black;
  background: url("projekt-1.webp") no-repeat center;
  background-size: cover;
  background-color: #cccccc;
  position: relative;
}
.portfolio-two {
  margin: 40px;
  height: 33vh;
  border: 5px solid black;
  background: url("projekt-2.webp") no-repeat center;
  background-size: cover;
  background-color: #cccccc;
  position: relative;
}
.portfolio-three {
  margin: 40px;
  height: 33vh;
  border: 5px solid black;
  background: url("projekt-3.webp") no-repeat center;
  background-size: cover;
  background-color: #cccccc;
  position: relative;
}
.portfolio-four {
  margin: 40px;
  height: 33vh;
  border: 5px solid black;
  background-color: transparent;
  background: url("projekt-4.webp") no-repeat center;
  background-size: cover;
  background-color: #cccccc;
  position: relative;
}
.portfolio-one:hover {
  opacity: 60%;
  border-color: white;
  transition: all 1s;
  box-shadow: 0 0 20px 20px #000000;
}
.portfolio-two:hover {
  opacity: 60%;
  border-color: white;
  transition: all 1s;
  box-shadow: 0 0 20px 20px #000000;
}
.portfolio-three:hover {
  opacity: 60%;
  border-color: white;
  transition: all 1s;
  box-shadow: 0 0 20px 20px #000000;
}
.portfolio-four:hover {
  opacity: 60%;
  border-color: white;
  transition: all 1s;
  box-shadow: 0 0 20px 20px #000000;
}
.box,
.contact {
  transition: all 1s;
}
.contact-me {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
}

#contact-form fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 3px solid black;
  text-align: center;
  background-color: rgb(77, 77, 77);
  padding: 10px;
  color: white;
  border-radius: 15px;
}

#contact-form fieldset .four {
  margin-top: 10px;
}
#contact-form legend {
  margin: 0 auto;
  background-color: gray;
  border: 3px solid black;
  border-radius: 25px;
  padding: 10px;
}
fieldset {
  border: none;
}
input,
textarea {
  background-color: #f9f9f9;
}
.three {
  grid-column: 2;
  grid-row: 1/3;
}
.three textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
.four {
  grid-column: 1/3;
  grid-row: 3;
  display: flex;
  justify-content: center;
}
.four button {
  cursor: pointer;
  width: 50%;
  border: 2px solid white;
  background: #005e05;
  color: white;
  border-radius: 15px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.four button:hover {
  background: #00ff0d;
  transition: background-color 0.3s ease-in-out;
}

footer {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33cc33;
}
footer li {
  display: inline-block;
  padding: 10px 20px;
}
footer li img {
  width: 30px;
  height: 30px;
  transition: all 1s;
}
footer li img:hover {
  transition: all 0.1s;
  box-shadow: 0 0 10px 10px white;
  background-color: white;
  transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  .section-one {
    min-height: 100vh;
  }
  .section-two {
    min-height: 100vh;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 50px;
  }
  .grid-item-1 {
    text-align: center;
    font-size: 10vw;
    justify-content: center;
    align-items: center;
  }
  .grid-item-2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
  .profile-picture img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 500px) {
  #contact-form {
    display: grid;
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 1;
    grid-row: 2;
  }
  .three {
    grid-column: 1;
    grid-row: 3;
  }
  .four {
    grid-column: 1;
    grid-row: 4;
  }
  .three textarea {
    height: 6em;
    width: 15em;
  }
}
